* {
  font-family: 'Prompt', sans-serif;
}

.form-container {
  height: 100vh;
  padding-top: 40px;
  padding-bottom: 40px;
  display: block;
  position: relative;
}
#icon{
    position: absolute;
    top: 9px;
    left: 24px;
    font-size: 17px;  
}
#icon1{
    position: absolute;
    top: 59px;
    left: 24px;
    font-size: 17px; 
}
#next{
    padding: 20px 150px;
    margin-top: 100px;
    background-color: magenta;
    color: white;
    font-family: cursive;
    font-size: 20px;
}
#form-signup-heading{
  text-align: center;
  color: #333;
  text-shadow: 1px 1px 1px #DEDEDE;
}

.form-signup {
  max-width: 360px;
  padding: 15px;
  margin: 0 auto;
}
.form-signup .checkbox {
  font-weight: normal;
}
#input-email{
 padding-left: 30px;
}
#name{
    padding-left: 30px;
}
